.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    background-color: #ab641c;
    border-color: #ab641c;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #ab641c !important;
  }
  
  .Button:active {
    background-color: #ab641c !important;
  }
  
  .Button:focus {
    background-color: #ab641c;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #ab641c;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    
    background-color: #ffffff;
    color: #ab641c;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #6a2c09;
    color: whitesmoke;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: #ab641c;
    color: whitesmoke;
  }
  
  .Bright {
    background-color: #ab641c;
    color: #ab641c;
  }