.NavBar {
    background-color: #323232;
    border: 1px solid #323232;
    padding-top: 50px;
    
    
}

.NavLink {
    padding: 5px;
    color: white!important;
   
}

.Active i {
    color: #c6570d;
}

.Brand {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    
}

