.Post {
    background-color: #323232;
    border: 1px solid #dadadf;
    border-radius: 10px;
    margin-bottom: 16px;
    text-align: center;
    color: whitesmoke;
  }
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Icon {
    margin-right: 30px!important;
  }

  .Red {
    color: #f85032;
  }

  .Red:hover {
    color: #b43a24;
  }

  .IconOutline:hover {
    color: #f85032;
  }
  
  .Heart {
    color: rgb(198, 87, 13);
  }
  
  .Heart:hover {
    color: #88250a;
  }
  
  .HeartOutline:hover {
    color: #f3eeed;
  }