.Post {
    background-color: whitesmoke;
    border: 6px solid #323232;
    border-radius: 20px;
    margin-bottom: 16px;
    text-align: center;
    color: black;
  }
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Icon {
    margin-right: 30px!important;
  }

  .Blue {
    color: #2080c5;
  }

  .Blue:hover {
    color: #1d528a;
  }

  .IconOutline:hover {
    color: #2080c5;
  }
  
  .Thumbs {
    color: rgb(198, 87, 13);
  }
  
  .Thumbs:hover {
    color: #88250a;
  }
  
  .ThumbsOutline:hover {
    color: black;
  }