.SearchBar input {
    border-radius: 20px;
    border: 4px whitesmoke solid;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
    padding: 20px;
    margin: 2rem;
    max-width: 90%;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
