.Post {
    background-color: #323232;
    border: 1px solid #dadadf;
    border-radius: 10px;
    margin-bottom: 16px;
    text-align: center;
    color: whitesmoke;
  }
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #363384;
  }
  
  .Heart:hover {
    color: #445280;
  }
  
  .HeartOutline:hover {
    color: #f3eeed;
  }