.App {
  font-family: "DM Sans", sans-serif;
  background-image: url(https://res.cloudinary.com/emmarubih/image/upload/v1672327305/mortar-176798_1920_fcpunp.jpg);
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}
.Contentfix {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 6px solid #323232 ;
  
}
.Contentedit {
  background-color: #323232;
  padding: 20px;
  border-radius: 10px;
  border: 6px solid  whitesmoke;
  color: white;
  
}
.Content {
  background-color: #323232;
  padding: 20px;
  border-radius: 10% / 50%;
  border: 6px solid whitesmoke;
  color: white;
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;

}
.Contentmini {
  background-color: #323232;
  padding: 20px;
  border-radius: 10% / 50%;
  border: 6px solid whitesmoke;
  color: white;
  text-align: center;
  margin-top: 1px; 
}

.ContentLight {
  padding: 20px;
  border-radius: 20px;
  background-color: #323232;
  border: 6px solid whitesmoke;
  text-align: center;
  color: white;
  margin-top: 4px;
  }

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: #323232;
  

  
}

.Image {
  max-height: 40vh;
  max-width: 100%;
}

.Header {
  letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
}


.Liked {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}


* {
  box-sizing: border-box;
}

a {
  color: #a16a37;
  font-weight: bold;
  font-size: 1rem;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #a16a37;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: whitesmoke;
}

figure {
  text-align: center;
  display: inline-block;
}


/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}